
*{
    margin: 0;
}

.sf-container{
    display: grid;
    grid-template-columns: 40% 60%;
    --font-family: "Roboto", sans-serif;
}

.sf-products-details{
    background-color: #3B43FE;
    padding: 30px 55px;
    display: grid;
    gap: 25px;
}
.products-details-holder{
    background-color: #fff;
    border-radius: 10px;
}
.products-details-holder h3{
    font-weight: 600;
    color: #000;
    font-size: 25px;
    text-align: center;
    padding-block: 20px;
}
.products-holder{
    display: grid;
    grid-template-columns: 40% 60%;
    padding-block: 25px;
}
.products-img-count{
    display: grid;
    justify-content: center;
    row-gap: 15px;
}
.products-img-count .img-holder{
    max-width: 150px;
    max-height: 115px;
    margin-inline: auto;
    padding-inline: 10px;
    border: 1px solid #000;
    border-radius: 5px;
}
.products-img-count .img-holder img{
    width: 100%;
    height: 100%;
}
.product-counts{
    display: grid;
    grid-template-columns: 30% auto 30%;
    justify-content: space-between;
    background-color: #FFD241;
    padding: 5px;
    border-radius: 5px;
}
.product-counts button{
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}
.product-counts button span{
    font-size: 18px;
    color: #000;
}
.product-counts .products-in-cart{
    width: 20px;
    text-align: center;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 18px;
    font-weight: 400;
}
.product-counts input[type=number]::-webkit-inner-spin-button, 
.product-counts input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.products-mine-details{
    display: grid;
    align-items: start;
    align-content: start;
    row-gap: 6px;
}
.products-mine-details a{
    display: inline-block;
    color: #000;
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
}
.products-mine-details .product-cost{
    font-size: 23px;
}
.products-mine-details .ratings span i{
    color: #FCD439;
}

.payment-amount-holder{
    background-color: #fff;
    border-radius: 10px;
    display: grid;
    padding: 20px 15px;
}
.payment-amount-holder h3{
    font-weight: 600;
    color: #000;
    font-size: 25px;
    text-align: center;
    padding-block:0px 20px;
}
.payment-amount-holder tr td{
    font-weight: 400;
    font-size: 20px;
    color: #000;
}
.payment-amount-holder tr td hr{
    height: 3px;
    background: #000;
}
.payment-amount-holder .payment-cost-num{
    font-weight: 700;
    text-align: end;
}

.sf-from-holder{
    padding: 30px 55px;
}
.progress-bar-wrap{
    position: relative;
  display:flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
.progress-bar-wrap .single-progress-bar{
    position: relative;
    width: 98px;
}

.progress-bar-wrap .progress-num-wrap{
    position: relative;
    display: flex;
    justify-content: center;
}

.progress-bar-wrap .progress-num-wrap .prog-num{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #e9dfdf;
    background-color: #9e9e9e5e;
    font-size: 18px;
    font-family: var(--font-family);
}
.fil-prograss  .progress-num-wrap .prog-num{
    opacity: 0;
}
.progress-bar-wrap .progress-num-wrap .prog-check-icon{
    position: absolute;
    top: 1.7px;
    padding-left: 0.4px;
    transition: 0.3s ease;
    transform: scale(0);
    transform-origin: center;
}
.progress-bar-wrap .progress-num-wrap .prog-check-icon i{
    font-size: 29px;
    color: #34D824;
}
.fil-prograss .progress-num-wrap .prog-check-icon{
    transform: scale(1);
}
.prograss-indicator{
    position: absolute;
    top: 24%;
    width: 222px;
    height: 6px;
    right: -200%;
    border-radius: 4px;
    background-color: #9e9e9e5e;
    transform-origin: left;
}
.prograss-indicator .prog-dash{
    position: absolute;
    content: '';
    width: 0;
    height: 100%;
    left: 0;
    border-radius: inherit;
    background-color: #0027FC;
    transition: 0.2s ease;
}
.fil-prograss .prograss-indicator .prog-dash{
    width: 100%;
}
.prograss-indicator .prog-dot{
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    right: 92%;
    top: -7px;
    background-image: url(../images/circle-img.svg);
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.2s ease;
    transform: scale(0);
}
.fil-prograss .prograss-indicator .prog-dot{
    transform: scale(1);
    right: 0;
}
.progress-bar-wrap p{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    color: #000
}
.progress-bar-wrap .fil-prograss p{
    opacity: 0.6;
}
@media only screen and (max-width:480px){
    .sf-container{
        /* grid-template-columns: 100% 100%; */
        grid-template-columns: repeat(1, 1fr);
    }
}